<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <div class="main layout">
      <%- include('./includes/header-wrap') %>
      <div class="main">
        <%- include('./includes/swiper') %>
        <%- include('./includes/list', {
          splitTitle: (function () {
            return locals.tag && locals.tag.name ? '最新' + tag.name : '最新内容'
          })()
        }) %>
        <%- include('./includes/footer') %>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <script>
      const posts = <%- JSON.stringify(posts) %>
      new Vue({
        el: '#swiper',
        data() {
          return {
            posts
          }
        }
      })
      console.log(posts)
    </script>
  </body>
</html>
