<html>
  <head>
    <%- include('./includes/head', { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
  </head>
  <body>
    <div class="main layout">
      <div class="main-content">
        <%- include('./includes/header-wrap') %>
        <main class="main article-wrapper">
          <%- include('./includes/post-content') %>
          <%- include('./includes/related-post', {
            curRelatedPosts: (function() {
              const tags = post.tags.filter(d => d.used).map(d => d.name)
              const posts = site.posts.filter(d => d.title !== post.title).filter(post => post.tags.some(d => tags.includes(d.name))).filter(d => d)
              return posts.slice(0, 3)
            })()
          })%>
        </main>

        <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./includes/gitalk') %>
          <% } %>

          <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./includes/disqus') %>
          <% } %>
        <% } %>
    
        <%- include('./includes/footer') %>
      </div>
    </div>
  </body>
</html>
